
body{
  background-image: url('https://t4.ftcdn.net/jpg/01/66/63/45/360_F_166634519_clNap8GGhEKsHKNxvgpNncpBFcc2fen7.jpg') ;
}
.nav>li {
  display: inline-block;
}

h1{

  
}












/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
